#redireccionar{
  background-color: #255772;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 100%;
  border-style: none;
  font-family:'Winky Sans';
  z-index: 10;
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
}
#redireccionar:hover{
  cursor: pointer;
  background-color: #1b445a;
  transform: scale(1.05);
}
.logo{
    float: left;
}
.logo:hover {
      color: white;
      cursor: pointer;
      transform: scale(1.05);
}
body{
    background-color:  #b9caee;
    font-size: 20px;
    font-family: 'Winky Sans';
    overflow-x: hidden;
}
h1{
  font-size: 40px;
}
.tablas{
  width: 70%;
  background-color: #faefef;
  margin: auto;
  border-radius: 20px;
}
.info{
  width: 90%;
  margin: auto;
  padding: 5px;
}
#introduccion .info > h1{
  display: flex;
  justify-content: center;
}
.container1{
    position: fixed;
    top: 70px;
    left: 5px;
}
.zorro{
  position: fixed;
  left: 5px;
  bottom: 10px;
}
.redesSociales{
  position: fixed;
  bottom: 40%;
  right: 10%;
}
.redesSociales a img{
  border-radius: 20px;
  width: 40px;
}
.redesSociales a img:hover{
  transform: scale(1.05);
}
.video-thumb{
    width: 50%;
    cursor: pointer;
    margin: 10px;
    border-radius: 8px;
    transition: transform 0.3s;
}
.video-thumb:hover {
    transform: scale(1.05);
}
.overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}
.video-container{
    position: relative;
    max-width: 70%;
    max-height: 95%;
}
.video-container video{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.videoContenedor{
  display: flex;
  justify-content: center;
}
.close-btn{
    position: absolute;
    top: -40px;
    right: 0;
    font-size: 30px;
    color: white;
    cursor: pointer;
}
.links{
  width: 100%;
  margin: auto;
}
#actividades .links{
  display: flex;
  justify-content: center;
}
#actividades .info .links > button{
  margin: 5px;
  font-size: 16px;
  background: #faefef;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#actividades .info .links > button:hover{
  transform: scale(1.05);
}
#actividades .info .links > button img{
  border-radius: 10px;
  width: 250px;
}
.iframe-container{
  position: relative;
  width: 80%;
  height: 90%;
  background: #b9caee;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px #1b445a;
}
.iframe-container iframe{
  width: 100%;
  height: 100%;
  border: none;
}
.close-btn1{
  position: absolute;
  top: 60px;
  left: 170px;
  font-size: 28px;
  font-weight: bold;
  color: black;
  cursor: pointer;
  z-index: 1100;
}
header{
  background-color: #255772;
  z-index: 5;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  color: white;
  display: flex;
  justify-content: space-evenly;
  height: 70px;
  font-size: 25px;
}
#lugar{
  display: flex;
  align-items: center;
  margin-left: -18%;
}

nav {
  background-color: #255772;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: -22%;
}
.salto{
  background-color: #b9caee;
  width: 100%;
}
.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu > li {
  position: relative;
  width: 100px;
  display: flex;
  justify-content: center;
}

.menu > li > a {
  color: white;
  text-decoration: none;
  display: block;
}

.menu > li > a > img{
  height: 50px;
  padding: 10px;
}

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #255772;
  margin: 0;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  min-width: 300px;
  z-index: 1000;
  color: white;
}

.menu > li:hover .submenu {
  display: grid;
}
.menu li a:hover{
  background-color: #1b445a;
}
.submenu ul li:hover{
  background-color: #1b445a;
}
.submenu ul {
  list-style: none;
  padding: 0;
  margin-left:-20px;
}

.submenu ul li {
  margin: 0;
  padding: 10px;
  padding-left: 20px;
  background-color: #255772;
}
.submenu a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  width: 100%;
}
.explicacion{
  width: 95%;
  margin: auto;
  z-index: 5;
}
.explicacion ul{
  list-style: none;
  background-color: #b9caee;
  border-radius: 20px;
}
.explicacion ul li{
  padding: 15px;
}
.texto{
  position: relative;
}
.texto > img{
  z-index: 1;
  position: absolute;
  top: -22%;
  right: 10%;
  height: 60%;
}
#arriba{
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-style: none;
  display: none;
}
#arriba button{
  background-color: #255772;
  border: none;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}
#arriba button:hover{
  background-color: #1b445a;
  cursor: pointer;
  transform: scale(1.05);
}
#arriba.show{
  display: block;
  opacity: 1;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #a5b4d4;
    width: 101%;
    position: absolute;
    margin: 0;
    padding: 0;
    left: -1px;
    right: 1px;
    font-size: 14px;
    height: 210px;
    text-align: center;
}
footer > div{
    width: 50%;
    margin: 0px;
    padding: 10px;
}